<nav class="navbar navbar-expand navbar-dark bg-dark">
<img class="img-responsive mx-3" width="30" src="https://thumbs.dreamstime.com/z/golden-viking-horns-helmet-cool-sports-logo-vector-illustration-fully-scalable-editable-svg-cool-modern-viking-logo-perfect-153467879.jpg" alt="">
    <ul class="navbar-nav">
     <li class="nav-item">
       <%= link_to "Re-former", root_path, class: "nav-link"%>
      </li>
      <li class="nav-item">
       <%= link_to "New", new_user_path, class: "nav-link"%>
      </li>
    </ul>
 
</nav>